#img {
  max-width: 70%;
  height: 200%;
  
  
 
  }
  #p {
    text-align: center;
    margin-top: 4cm;
    margin-bottom: 2cm;
  }

  
  #texto {
    text-align: center;
    font-family: "EucrosiaUPC";
    font-size: 59px;

    color: rgba(80, 88, 86, 0.911);
    
    }
    
  
    #final {
      text-align: center;
      font-family: "EucrosiaUPC";
     
  
      color: rgba(0, 0, 0, 0.911);
      
      }

    